body{
  background-color: #EBEDF0;
}

/* NAVBAR */

.my-nav{
  background-color: #6D9CD8 !important;
}

.logout-btn{
  all: unset;
  color:white;
}

.nav-link{
  color: white !important;
}


/* FIRST PAGE */

.firstPage-img{
  width: 100%;
  margin-bottom: 0.5rem;
}

.firstPage-row{
  display: flex;
  justify-content: space-around;
}

.firstPage-secondCol{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.front-text-container{
 margin-bottom: 1rem;
}

.page-title{
  color: #6D9CD8;
}

.my-btn{
  background-color: #6D9CD8;
  width: 7.5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.my-btn a {
  color: white;
  text-decoration: none;
}

.my-btn a:hover {
  color: white;
}

.firstPage-btns-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.firstPage-features-container{
  display: flex;
  justify-content: space-between;
}

.firstPage-features-container img {
  width: 3rem;
}

.features-img-container{
  height: 3.5rem;
}

.firstPage-features-div1, .firstPage-features-div2, .firstPage-features-div3, .firstPage-features-div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

/* SIGNUP */
.btn-primary{
  background-color: #6D9CD8 !important;
  border-color: #6D9CD8 !important;
}


/* MAIN PAGE */

.background-main{
  background-color: #EBEDF0;
}

.main-cards{
  margin-bottom: 1rem;
  border-radius: 1.25rem !important;
}

.main-card-header{
  all: unset !important;
  padding: .5rem 1rem !important;
  margin-bottom: 0 !important;
}

.main-card-img{
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
  max-height: 25rem;
}

.text-simulation-container {
  background-color: #EBEDF0;
  border-radius: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.7rem;
  display:flex;
  align-items: center;
  margin-left: 1rem;
}
.text-simulation-container:hover{
  background-color: #CCCCCC;
}

.text-simulation-img-container {
 display: flex;
 align-items: center;
}


.text-simulation-img-container img{
  border-radius: 50%;
  width: 2.5rem ;
  height: 2.5rem ;
  
}

.main-card-post{
  margin-top: 1rem;
}

a.text-simulation-link {
  text-decoration: none;
  color: rgb(101, 103, 107)
}

a.text-simulation-link:hover {
  text-decoration: none;
  color: rgb(101, 103, 107)
}

.add-photo-img{
  width: 3rem;
}
.main-new-post-simulator{
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.main-card-user-info p{
  all: unset;
  margin-left: 0.5rem;
}
.main-card-user-info{
  display: inline-flex;
  align-items: center;
}

.main-card-user-info img{
  
  border-radius: 50%;
  width: 2.5rem ;
  height: 2.5rem ;
}

.main-card-date{
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.main-card-description{
  font-size: 0.8rem;
}

.like-blue-img{
  width: 1rem;
}

.like-comment-container{
  display: flex;
  justify-content: space-evenly;
}

.like-comment-counter-container{
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.like-and-counter{
  display: flex;
  align-items: center;
}

.like-btn{
  all: unset;
}

.img-user-profile{
  width: 11.5rem;
  height: 10rem;
  border-radius: 50%;
}

.edit-profile-btns{
  display: flex;
  justify-content: space-evenly;
}

.user-row1, .user-row2, .user-row3{
  justify-content: center;
}

.user-area-cols{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border-top-left-radius: 1.25rem; */
}

.user-area-col1{
  border-top-left-radius: 1.25rem;
}

.user-area-col2{
  border-top-right-radius: 1.25rem;
}

.user-area-col3{
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.user-following-posts{
  display: flex;
  justify-content: space-around;
}

.user-area-cols2{
  background-color: white;
}

.my-btn-delete{
  background-color: rgb(247, 62, 62);
  width: 7.5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.my-btn-delete a {
  color: white;
  text-decoration: none;
}

.my-btn-delete a:hover {
  color: white;
  text-decoration: none;
}