body{
  background-color: #EBEDF0;
}


/* NAVBAR */

.navbar-user-img{
  width: 2.5rem;;
  border-radius: 50%;
}

.my-nav{
  background-color: #6D9CD8 !important;
}

.logout-btn{
  all: unset;
  color:white;
}

.nav-link{
  color: white !important;
}

.logo{
  width: 2rem;
}

.navbar-toggler{
  border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media (max-width: 992px) {
  .home-logo-container {
    display: none !important;
  }
  .navbar-user-img {
    display: none !important;
  }
} 



/* FIRST PAGE */

.firstPage-img{
  width: 100%;
  margin-bottom: 0.5rem;
}

.firstPage-row{
  display: flex;
  justify-content: space-around;
}

.firstPage-secondCol{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.front-text-container{
 margin-bottom: 1rem;
}

.page-title{
  color: #6D9CD8;
}

.my-btn{
  background-color: #6D9CD8;
  width: 7.5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.my-btn a {
  color: white;
  text-decoration: none;
}

.my-btn a:hover {
  color: white;
}

.firstPage-btns-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.firstPage-features-container{
  display: flex;
  justify-content: space-evenly;
}

.firstPage-features-container img {
  width: 3rem;
}

.features-img-container{
  height: 3.5rem;
}

.firstPage-features-div1, .firstPage-features-div2, .firstPage-features-div3, .firstPage-features-div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

/* SIGNUP */
.btn-primary{
  background-color: #6D9CD8 !important;
  border-color: #6D9CD8 !important;
}

.signup-conatiner{
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}


/* LOGIN */

.login-container{
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}


/* NEW POST */

.new-post-container{
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.photo-input-container {
  display: flex;
  flex-direction: column;
}


/* MAIN PAGE */

.posts-container{
  display: flex;
  flex-direction: column-reverse;
}

.background-main{
  background-color: #EBEDF0;
}

.main-cards{
  margin-bottom: 1rem;
  border-radius: 1.25rem !important;
}

.main-card-header{
  all: unset !important;
  padding: .5rem 1rem !important;
  margin-bottom: 0 !important;
}

.main-card-img{
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
  max-height: 25rem;
}

.text-simulation-container {
  background-color: #EBEDF0;
  border-radius: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.7rem;
  display:flex;
  align-items: center;
  margin-left: 1rem;
}
.text-simulation-container:hover{
  background-color: #CCCCCC;
}

.text-simulation-img-container {
 display: flex;
 align-items: center;
}

.plus-sign{
  width: 1.5rem;
}
.text-simulation-img-container img{
  border-radius: 50%;
  width: 2.5rem ;
  height: 2.5rem ;
  
}

.main-card-post{
  margin-top: 1rem;
}

a.text-simulation-link {
  text-decoration: none;
  color: rgb(101, 103, 107)
}

a.text-simulation-link:hover {
  text-decoration: none;
  color: rgb(101, 103, 107)
}

.add-photo-img{
  width: 3rem;
}
.main-new-post-simulator{
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.main-card-user-info p{
  all: unset;
  margin-left: 0.5rem;
}
.main-card-user-info{
  display: flex;
  align-items: center;
}

.main-card-user-info img{
  
  border-radius: 50%;
  width: 2.5rem ;
  height: 2.5rem ;
}

.main-card-date{
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.main-card-description{
  font-size: 0.8rem;
}

.like-blue-img{
  width: 1rem;
}

.like-comment-container{
  display: flex;
  justify-content: space-evenly;
}

.like-comment-counter-container{
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.like-and-counter{
  display: flex;
  align-items: center;
}

.like-btn{
  all: unset;
}

  /* .comment-navlink{
    color: black;
    text-decoration: none;
  }

  .comment-navlink:hover{
    text-decoration: none;
    color: rgb(101, 103, 107);
  } */


/* USER AREA & USER PROFILE */

.img-user-profile{
  width: 10.5rem;
  height: 10rem;
  border-radius: 50%;
  /* border: 2px solid #6D9CD8 */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.edit-profile-btns{
  display: flex;
  justify-content: space-evenly;
}

.user-row1, .user-row2, .user-row3, .user-row4, .user-row5, .user-row6{
  justify-content: center;
}

.user-area-cols{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-area-col1{
  background-color: white;
  border-top-left-radius: 1.25rem;
}

.user-area-col2{
  background-color: white;
  border-top-right-radius: 1.25rem;
}

.user-area-col3{
  background-color: white;
  border-top: 1px solid rgba(0,0,0,.125);
}

.user-area-col4{
  background-color: white;
  border-top: 1px solid rgba(0,0,0,.125);
}

.user-area-col5{
  background-color: white;
}

.user-area-col6{
  background-color: white;
  border-top: 1px solid rgba(0,0,0,.125);
}

.user-area-col7{
  background-color: white;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.user-profile-col1{
  background-color: white;
  border-top-left-radius: 1.25rem;
}

.user-profile-col2{
  background-color: white;
  border-top-right-radius: 1.25rem;
}

.user-profile-col3{
  border-top: 1px solid rgba(0,0,0,.125);
  background-color: white;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

  @media (max-width: 768px) {

  .user-profile-col1{
    border-top-right-radius: 1.25rem;
  }

  .user-profile-col2{
    border-top-right-radius: 0;
  }

  .user-area-col1{
    border-top-right-radius: 1.25rem;
  }

  .user-area-col2{
    border-top-right-radius: 0;
  }
}

.user-create-pin-map{
  display: flex;
  justify-content: space-around;
}

.user-following-posts{
  display: flex;
  justify-content: space-around;
  padding-left: 1rem;
}

.my-btn-delete{
  background-color: rgb(247, 62, 62);
  width: 7.5rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.my-btn-delete a {
  color: white;
  text-decoration: none;
}

.my-btn-delete a:hover {
  color: white;
  text-decoration: none;
}

.list-following-posts {
  list-style: none;
  padding-left: 1rem;
}

.user-area-list-item{
  margin-bottom: 15px;
}


/* TRAVELPOST PAGE */

.destination-img{
  width: 100%;
  border-radius: 5%;
}

.travelPost-page-row1 {
  justify-content: center;
}

.travelPost-page-col1, .travelPost-page-col2, .travelPost-page-col3, .travelPost-page-col4{
  background-color: white;
}

.travelPost-page-col2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.postPage-user-image{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 2rem;
}

.post-page-comments{
  display: flex;
  justify-content: center;
}

  /* .travelPost-page-col3{
    border-top: 1px solid rgba(0,0,0,.125);
  } */


/* Comments */

.comments-container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-left: 1.5rem; */
  width: 25rem;
  background-color: #EBEDF0;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

.comments-super-conatiner{
  display: flex;
  justify-content: center;
}

.comment-p{
  margin-bottom: 0;
}


/* Toasts */
.Toastify__toast--success{
  background: #6D9CD8 !important;
  border-radius: 1rem !important;
  opacity: 0.9 !important;
  color: white !important;
}

.Toastify__toast--error{
  background: #cf5f5f !important;
  border-radius: 1rem !important;
  opacity: 0.9 !important;
  color: white !important;
}

/* MAP */

.marker {
  width:0px;
  height:0px;
}

.marker  span {
  display:flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  width: 15px;
  height: 15px;
  color:#fff;
  background: #6D9CD8;
  border:solid 2px;
  border-radius: 0 70% 70%;
  box-shadow:0 0 2px #000;
  cursor: pointer;
    transform-origin:0 0;
    transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg)
}

/* .temporary-marker span {
  background: red;
} */

.react-geocoder-results{
  color: #6D9CD8;
  cursor: pointer;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

@media print {
  .print-source {
    display: none;
  }
  .my-pin-map {
    margin: 3rem;
  }
}

.my-pin-map{
  text-align: center;
}

.omapa{
  display: flex;
  justify-content: center;
}

.geocoder-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

.react-to-print{
  display: flex;
  flex-direction: column;
  align-items: center;
}

